<link href="assets/css/main.css" rel="stylesheet" />
<div class="modal fade" id="{{product.productId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-wide " role="document">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <img [src]="product.productDetailImage" alt="product.productId" />
          </div>
          <div class="col-4 sectionAlign">
            <div class="container">
              <br />
              <div class="row justify-content-end">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <br />
              <div class="row product-title">
                <div class="col-4">
                  <h5 class="modal-title" id="exampleModalLabel">{{product.productName}}</h5>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <h5 class="modal-title" id="exampleModalLabel">{{findProductPrice()}}{{texts.euro}}</h5>
                </div>
              </div>

              <div class="row product-description">
                <span class="justify-text"> {{texts.default_description}} </span>
              </div>
              <br>
              <div class="row product-code ">
                <span>{{texts.product_code}} {{product.productCode}}</span>
              </div>
              <div class="row">
                <button type="button" class="product-add" data-dismiss="modal" aria-label="Close"
                  (click)="onEmit()">{{texts.add_to_cart}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>