<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#7350FF" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="" href="/manifest.json" />
  <link href="assets/css/main.css" rel="stylesheet" />
  <title>Cabify Checkout Challenge</title>
</head>

<body>
  <div id="root">
    <main class="App">
      <section class="products">
        <h1 class="main">Shopping cart</h1>
        <ul class="products-list tableHead">
          <li class="products-list-title row">
            <div class="col-product">Product details</div>
            <div class="col-quantity">Quantity</div>
            <div class="col-price">Price</div>
            <div class="col-total">Total</div>
          </li>
        </ul>
        <ul class="products-list">
          <li class="product row" *ngFor="let product of products">
            <div class="col-product">
              <figure class="product-image">
                <img [src]="product.productImage" alt="Shirt" />
                <div class="product-description">
                  <h1>{{product.productName}}</h1>
                  <p class="product-code">Product code {{product.productCode}}</p>
                  <button type="button" class="product-code decoration" data-toggle="modal" [attr.data-target]="'#' + product.productId" (click)="saveProduct(product)">
                    Ver detalles
                  </button>
                </div>
              </figure>
            </div>
            <div class="col-quantity">
              <button class="count" [disabled]="total[product.productId] === 0 ? true : false"
                (click)="delete(product.productId)">-</button><input type="text" id="product.productId" class="product-quantity"
                value={{total[product.productId]}} />
              <button class="count" (click)="add(product.productId)">
                +
              </button>
            </div>
            <div class="col-price">
              <span class="product-price">{{findProductPrice(product.productId)}}</span><span class="product-currency currency">€</span>
            </div>
            <div class="col-total">
              <span class="product-price">{{ calculateProductsTotal(product.productId)}}</span><span
                class="product-currency currency">€</span>
            </div>
            <app-modal [product]="product" (functionToEmit)="add(product.productId)"></app-modal>
          </li>
        </ul>
      </section>
      <aside class="summary">
        <h1 class="main">Order Summary</h1>
        <ul class="summary-items wrapper border">
          <li>
            <span class="summary-items-number">{{totalProducts() }} Items</span><span
              class="summary-items-price">{{ totalPricing() }}<span class="currency">€</span></span>
          </li>
        </ul>
        <div class="summary-discounts wrapper-half border">
          <h2>Discounts</h2>
          <ul>
            <li><span>2x1 Mug offer</span><span class="discount" *ngIf="getDiscounts('MUG') !== 0">-</span><span
                class="discountAmount">{{ getDiscounts('MUG') }}€</span></li>
            <li><span>x3 Shirt offer</span><span class="discount" *ngIf="getDiscounts('TSHIRT') !== 0">-</span> <span
                class="discountAmount">{{ getDiscounts('TSHIRT') }}€</span></li>
          </ul>
        </div>
        <div class="summary-total wrapper">
          <ul>
            <li>
              <span class="summary-total-cost">Total cost</span><span
                class="summary-total-price">{{ getFinalTotal() }}€</span>
            </li>
          </ul>
          <button type="submit">Checkout</button>
        </div>
        
      </aside>
    </main>
  </div>
</body>

</html>